.login-wrapper {
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 460px;

  background: rgba(255,255,255,0.90);
  backdrop-filter: blur(12px);

  padding: 45px;
  border-radius: 20px;

  box-shadow: 0 12px 35px rgba(0,0,0,0.12);

  text-align: center;
}

.login-card h1 {
  font-size: 42px;
  color: #1e3a8a;
  margin-bottom: 12px;
  font-weight: 800;
}

.subtitle {
  color: #555;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.login-card input {
  width: 100%;
  padding: 16px 18px;
  margin-bottom: 20px;

  border: 1px solid #d1d5db;
  border-radius: 12px;

  font-size: 18px;
  outline: none;
}

.login-card input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37,99,235,0.15);
}

.login-card button {
  width: 100%;
  padding: 16px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 12px;

  font-size: 22px;
  font-weight: 700;
  cursor: pointer;

  transition: 0.3s;
}

.login-card button:hover {
  background: #1d4ed8;
}

.register-text {
  margin-top: 24px;
  font-size: 20px;
  color: #555;
}

.register-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 700;
}

.register-text a:hover {
  text-decoration: underline;
}