.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 50px;

  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;

  box-shadow: 0 4px 14px rgba(0,0,0,0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo span {
  color: #facc15;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #dbeafe;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: white;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}